# Weekly Report for Hospital Data

In [16]:
# Imports
import sys
import pandas as pd
import psycopg
from loadinghelper import check_numeric_na

from credentials import DB_PASSWORD, DB_USER

In [47]:
# Connect to DB
conn = psycopg.connect(
    host="sculptor.stat.cmu.edu", dbname=DB_USER,
    user=DB_USER, password=DB_PASSWORD
)
cur = conn.cursor()

In [24]:
# Summary I & II
with conn.transaction():
    cur.execute(
        "SELECT report_date AS week, COUNT(*) AS records_loaded, "
        "SUM(total_adult_hospital_beds), SUM(total_pediatric_hospital_beds), "
        "SUM(total_adult_hospital_beds_occupied), "
        "SUM(total_pediatric_hospital_beds_occupied), "
        "SUM(inpatient_beds_occupied_covid) "
        "FROM facility_reports "
        "GROUP BY report_date "
        "ORDER BY week DESC;"
    )

records = pd.DataFrame(
    cur.fetchall(), columns=["Week", "Records Loaded", "Total Adult Hospital Beds Available", 
                             "Total Pediatric Hospital Beds Available", 
                             "Total Adult Hospital Beds In-Use", "Total Pediatric Hospital Beds In-Use",
                             "Total Hospital Beds Used by COVID cases"]
)

In [19]:
# I
records[["Week", "Records Loaded"]]

         Week  Records Loaded
0  2022-09-23            4996

In [20]:
# II
records

,Week,Records Loaded,Total Adult Hospital Beds Available,Total Pediatric Hospital Beds Available,Total Adult Hospital Beds In-Use,Total Pediatric Hospital Beds In-Use,Total Hospital Beds Used by COVID cases
0,2022-09-23,4996,413589.5,39605.5,463698.4,27778.1,25600.6

In [31]:
# III
with conn.transaction():
    cur.execute(
        "SELECT facility_name, rating, "
        "total_adult_hospital_beds_occupied, "
        "total_pediatric_hospital_beds_occupied, "
        "total_icu_beds_occupied, "
        "inpatient_beds_occupied_covid "
        "FROM facility_information info "
        "JOIN quality_ratings rate "
        "ON info.facility_id = rate.facility_id "
        "JOIN facility_reports "
        "ON info.facility_id = hospital_pk "
        "ORDER BY rating DESC;"
        
    )

ratings = pd.DataFrame(
    cur.fetchall(), columns=["Hospital Name", "Hospital Rating",
                             "Total Adult Hospital Beds In-Use", "Total Pediatric Hospital Beds In-Use",
                             "Total ICU Beds In-Use", "Total Hospital Beds Used by COVID cases"]
)

In [33]:
ratings

,Hospital Name,Hospital Rating,Total Adult Hospital Beds In-Use,Total Pediatric Hospital Beds In-Use,Total ICU Beds In-Use,Total Hospital Beds Used by COVID cases
0,SETON SMITHVILLE REGIONAL HOSPITAL,None,4.3,0,0,0
1,MADISON COUNTY MEMORIAL HOSPITAL,None,7.4,0,0,0
2,FISHERMEN'S COMMUNITY HOSPITAL,None,None,0,0,0
3,PROFESSIONAL HOSPITAL GUAYNABO INC,None,21.7,0,5,None
4,JOHNS HOPKINS ALL CHILDREN'S HOSPITAL,None,0,192.6,49.7,5.6
...,...,...,...,...,...,...
13765,UNIVERSITY OF ILLINOIS HOSPITAL AND CLINICS,1,325.7,38.7,82.6,18
13766,BERGEN NEW BRIDGE MEDICAL CENTER,1,306.3,10.7,None,None
13767,ROCKCASTLE REGIONAL HOSPITAL & RESPIRATORY CAR...,1,13.9,0,None,None
13768,MONROE COUNTY MEDICAL CENTER,1,17.7,0,0,None
13769,WELLSTAR ATLANTA MEDICAL CENTER,1,98,None,46.6,13.9

In [71]:
# No data
# Note: Change thisweek to the parameter of this week
with conn.transaction():
    cur.execute(
        "SELECT facility_name, MAX(report_date) "
        "FROM facility_information "
        "JOIN facility_reports ON "
        "facility_id = hospital_pk "
        "GROUP BY facility_id "
        "HAVING MAX(report_date) < %(week)s "
        "ORDER BY MAX(report_date) DESC;",
        {"week": pd.to_datetime("2022-10-21")}
    )

nodata = pd.DataFrame(
    cur.fetchall(), columns=["Hospital Name", "Last reported Date"]
)

In [72]:
nodata

                                  Hospital Name Last reported Date
0                    WAGONER COMMUNITY HOSPITAL         2022-10-14
1                   DRUMRIGHT REGIONAL HOSPITAL         2022-10-14
2                          KNOX COUNTY HOSPITAL         2022-10-14
3                          SYRACUSE AREA HEALTH         2022-10-14
4                          UNITY MEDICAL CENTER         2022-10-14
5             WINSTON MEDICAL CENTER & SWINGBED         2022-10-14
6                      MASSAC MEMORIAL HOSPITAL         2022-10-14
7                           HOLY CROSS HOSPITAL         2022-10-14
8                      LA PAZ REGIONAL HOSPITAL         2022-10-14
9              MT SINAI HOSPITAL MEDICAL CENTER         2022-10-14
10                   BARTLETT REGIONAL HOSPITAL         2022-10-14
11               COMMUNITY HOSPITAL OF STAUNTON         2022-10-14
12                   SUMMIT MEDICAL CENTER, LLC         2022-10-14
13                           ST LUKE'S HOSPITAL         2022-10-07
14             JOHNSON COUNTY HEALTHCARE CENTER         2022-09-30
15  FROEDTERT BLUEMOUND REHABILITATION HOSPITAL         2022-09-30
16                       BLESSING HEALTH KEOKUK         2022-09-23

In [102]:
# State COVID increase
# Note: Change variables!
with conn.transaction():
    cur.execute(
        "SELECT tw.state, tw.covidcase - lw.covidcase AS coviddiff "
        "FROM ("
        # This weeks data
        "SELECT state, SUM(inpatient_beds_occupied_covid) as covidcase "
        "FROM facility_information "
        "JOIN facility_reports "
        "ON facility_id = hospital_pk "
        "WHERE report_date = %(week)s "
        "GROUP BY state) tw "
        "JOIN ("
        # Last weeks data
        "SELECT state, SUM(inpatient_beds_occupied_covid) as covidcase "
        "FROM facility_information "
        "JOIN facility_reports "
        "ON facility_id = hospital_pk "
        "WHERE report_date = %(lastweek)s "
        "GROUP BY state) lw "
        "ON tw.state = lw.state "
        "ORDER BY coviddiff DESC;",
        {
            "week": pd.to_datetime("2022-10-21"),
            "lastweek": pd.to_datetime("2022-10-21") - pd.Timedelta(days=7)
        }
    )

statecovid = pd.DataFrame(
    cur.fetchall(), columns=["States", "Change in Covid Case"]
)

In [103]:
statecovid

   States Change in Covid Case
0      GU                 None
1      VI                 None
2      IL                133.3
3      WI                 81.4
4      OH                 79.9
5      IN                 67.8
6      MN                 65.9
7      AZ                 64.3
8      PA                 60.4
9      MO                 50.1
10     NY                 43.2
11     NJ                 39.7
12     OK                 30.3
13     NE                 24.4
14     MD                 23.9
15     CO                 22.0
16     NV                 19.3
17     GA                 16.2
18     PR                 15.3
19     VA                 15.1
20     CT                 13.6
21     VT                 13.4
22     HI                 11.4
23     NM                 10.5
24     KS                 10.1
25     UT                  7.2
26     ID                  3.8
27     MT                  3.1
28     KY                  2.9
29     WY                  0.7
30     ND                  0.5
31     AR                  0.2
32     AL                  0.1
33     TN                  0.0
34     AS                    0
35     IA                 -0.7
36     SD                 -2.6
37     ME                 -4.0
38     RI                 -4.4
39     DC                 -4.9
40     AK                 -5.7
41     OR                -10.3
42     SC                -12.5
43     NH                -13.9
44     MS                -21.1
45     LA                -23.8
46     WV                -25.7
47     DE                -27.9
48     MI                -38.4
49     CA                -41.1
50     MA                -47.1
51     NC                -49.1
52     FL                -53.1
53     WA                -58.0
54     TX                -68.4